

body{
    background-image: url(background_register.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #916a6a;
    text-align: left;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#nombre, #apellido1 {
    width: 45%; /* Ancho ajustado para estos campos */
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: #dbd9d9;
}
#apellido2{
    width: 45%; /* Ancho ajustado para estos campos */
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: #dbd9d9;
}
#direccion, #codigopostal, #municipio {
    width: 31%; /* Ancho ajustado para estos campos */
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: #dbd9d9;
    
}

#emailInput, #telefonomovil{
    width: 45%; /* Ancho ajustado para estos campos */
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: #dbd9d9;
}




#contenedor h1{
    color: #000000;
    font-size: 24px;
}

#contenedor h2{
    color: #000000;
    font-size: 18px;
}


input {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: #dbd9d9;
}

select {
    width: 40%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    background-color: #dbd9d9;

}

button {
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1e2022;
}
